.banner {
  background-image: url('https://images.alphacoders.com/110/1108888.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-content {
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.411);
  padding: 15px;
}
